Hardware/__Previews/*
Hardware/01_SCH/__Previews/*
Hardware/01_SCH/History
Hardware/02_PCB/__Previews/*
Hardware/02_PCB/History
Hardware/03_OUTPUTS/02_GERBER/__Previews/*
Hardware/03_OUTPUTS/02_GERBER/History
Hardware/History/*
Hardware/Project Outputs for XDRONE/**
Hardware/Project Logs for XDRONE/**

Firmware/XDRONE_cmake/XDRONE.cmake
Firmware/XDRONE_cmake/build/**
!Firmware/XDRONE_cmake/build/default_config